{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="card post">
            <div class="card-header post-header">
                <div class="row">
                    <div class="col-md-2 post-rating">
                        <a href="#" class="rating-default"><i class="fa fa-thumbs-up fa-fw"
                                                              aria-hidden="true"></i>15</a>
                    </div>
                    <div class="col-md-4 post-author">
                        <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{{ post.author }}
                    </div>
                    <div class="col-md-4 post-date">
                        <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ post.created_at|timesince }} ago
                    </div>
                    <div class="col-md-2 post-views">
                        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>386
                    </div>
                </div>
            </div>

            <div class="card-block">
                <h4 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                <p class="card-text">{{ post.content|truncatewords:100 }}</p>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-md-9">
                        {#                            TODO: ADD TAGS FUNCTIONALITY #}
                        <i class="fa fa-tags" aria-hidden="true"></i> test, tag, another, tag
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm"><i
                                class="fa fa-arrow-right fa-fw" aria-hidden="true"></i> Read more</a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card post">
            <div class="card-block">
                <h3 class="card-title">No posts yet</h3>
                <p class="card-text">Hey, it's a good time to explore other corners of our site!</p>
                <a href="/" class="btn btn-primary">Explore</a>
            </div>
        </div>
    {% endfor %}

    {% include '_pagination.html' %}

{% endblock content %}