{% load account %}

{#<nav class="navbar navbar-default navbar-inverse navbar-fixed-top ">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="#">Senpos</a>#}
{#        </div>#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active"><a href="#">Blog <span class="sr-only">(current)</span></a></li>#}
{#                <li><a href="#">URL Shortener</a></li>#}
{#            </ul>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                {% if user.is_authenticated %}#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">{% user_display user %} <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a href="#">Test</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="{% url 'account_logout' %}">Logout </a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
{#                    <li><a href="{% url 'account_login' %}">Login</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
{#    </div><!-- /.container-fluid -->#}
{#</nav>#}
<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">#SenposDev</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% with request.resolver_match.namespace as namespace %}
                <li class="nav-item {% ifequal namespace 'blog' %}active{% endifequal %}">
                    <a class="nav-link" href="#">{{ namespace|capfirst }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">URL Shortener (Not avaliable yet)</a>
                </li>
            {% endwith %}
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn my-2 my-sm-0 btn-secondary" type="submit">Search</button>
        </form>
    </div>
</nav>