{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block auth %}
    <div class="card">
        <h3 class="card-header">{% trans "Sign Up" %}</h3>
        <div class="card-block">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <div class="row">
                    <div id="already-signed-up-link" class="col-md-8">
                        <a href="{{ login_url }}" class="btn btn-link">{% blocktrans %}Already Signed Up? Log
                            In here.{% endblocktrans %}</a>
                    </div>
                    <div id="sign-up-button" class="col-md-4">
                        <button class="btn btn-primary primaryAction" type="submit">
                            <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                            {% trans "Sign Up" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock auth %}
