.post {
    margin-bottom: 3rem;
}

.post-comments-link {
    text-align: right;
}

.post-favorite {
    text-align: left;
}

.post-date {
    text-align: left;
}

.post-author {
    text-align: right;
}

.post-tags {
    text-align: left;
}

.post-share-link {
    text-align: right;
}

@media (max-width: 572px) {
    .post {
        margin-bottom: 2rem;
    }

    .post-title {
        font-size: 1.3rem;
    }

    .post-footer {
        font-size: 0.9rem;
    }

    /*.post-date, .post-favorite, .post-comments-link, .post-author {*/
        /*text-align: left;*/
    /*}*/
}
